@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* SELECTED TEXT */
::selection { background: #ff5e99; color: #FFFFFF; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
	/* Remove Firefox selection dot */
	a, a:focus, a:active, a:hover, object, embed { outline: none; }
	:-moz-any-link:focus { outline: none; }
	input::-moz-focus-inner { border: 0; }
	:focus { outline: 0; }
a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 

	/*
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	*/
	}

a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=50); /* IE7 */
	opacity: 0.6;
}


/* Layout */
.main { float: right; }
.sidebar { float: left; }

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
.lighter {
    font-weight: 200;
}

.menu { list-style: none outside none; margin: 12px 0 20px 0; }
.main p { text-align: justify; }

.menu a {
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 26px;
}

.menu li.active a { text-decoration: underline; }


.entry-summary { margin: 0 0 60px 0; }
.entry-content { margin: 0 0 60px 0; }



/* Attachment page */
.single  header .author { margin-bottom: 40px; }  



/* Thumbnails 1 */
.home .entry-title, .home .updated, .home .author, .gallery-caption { display: none; }




/* Thumbnails 2 */
.thumbnails > li {
    float: left;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.thumbnail {
    border: none !important;
    border-radius: 0px;
    box-shadow: none !important;
    display: block;
    line-height: 20px;
    padding: 0px !important;
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
}

.thumbnails {
    list-style: none outside none;
    margin-left: 0px;
    max-width: 100%;
}

.thumbnails li {
    width: 16.6666667%;
}


/* Popup style */
.fancybox-bg {
    display: none !important;
}

#fancybox-title {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px;
    text-transform: uppercase !;
}
.fancybox-title-outside {
    color: #888888 !important;

}

/* Flicker Fix */

#fancybox-overlay 
{
    -webkit-transform:translate3d(0,0,0); /* Safari Flicker Fix #1 */
    -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */ 
}




/* Header */
.banner .container {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 16px;
    position: relative;
    z-index: 1000;
}

h1.site-title a, h1.site-title a:hover {
    color: #181818;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
}

.site-title { padding: 40px 0 0; text-align: right; }

.site-description { display:none ;color: #777777; font-weight: lighter; } 




/* Footer */
.content-info {
    clear: both;
    padding-top: 10px;
    position: relative;
}

.content-info > .container {
    border-top: 1px solid #CCCCCC;
    padding: 1em 0em 2em;
}

.content-info ul.menu { margin: 0 0 24px; padding: 0; list-style-type: none; }
.content-info ul.menu li { display: inline; margin-right: 1em; }

.content-info p.copy small { font-size: 1em; font-weight: bold; }


.content-info .textwidget {
    color: #999;
    padding-bottom: 4px;
    font-weight: lighter;
    text-align: justify;    
}


/* SNS HTML */
.sns_link {
     float: right;
     height: 30px;
     margin: 0px 0px 0px;
     position: relative;
    }

    .sns_link li {
         display: inline-block;
         line-height: 20px;
         list-style: none outside none;
         margin: 0px 5px 0px 0px;
        }
        .sns_link li:last-child {
             margin: 0px;
            }
            
            .sns_link li, 
            .sns_link li a img {
                 height: 25px;
                 padding: 0px 0px 0px 10px;
                }
                .sns_link li a {
                     font-size: 1.25rem;
                     opacity: 0.6;
                     color:#333;
                    }  
                .sns_link li a:hover {
                     opacity: 1;
                     color: #333;
                    }
                .sns_link li a:hover, .sns_link li a:focus {
                    text-decoration: none;
                    }
                    .sns_link strong {
                        display: none;
                        }



/* Form */
.wpcf7-text, .wpcf7-textarea {
    width: 90%;
}




/* Responsive */
@media (max-width: 979px) {
    .thumbnails li {
        width: 20%;
    }
}

@media (max-width:767px) {
    .site-title { 
        text-align: center; 
        padding: 10px 0 10px 0;
    }
    .sidebar {
        float: left;
        text-align: center;
        border-top: 3px solid #ccc;
        border-bottom: 3px solid #ccc;
        margin-bottom: 40px;
    }
    
    .thumbnails li {
        width: 25%;
    }
        
}

@media (max-width: 480px) {
    .thumbnails li {
        width: 33.3333333%;
    }
}

@media (max-width: 320px) {
    .thumbnails li {
        width: 50%;
    }
}




/* Responsive Video for Fancybox */

@media (max-width: 1024px) {
    #fancybox-frame, #fancybox-content { max-width: 720px !important; max-height: 405px; }
    .fancybox-bg { display:none; }
    #fancybox-wrap {  width: 100% !important; overflow: hidden !important; }
}
@media (max-width: 767px) {
#fancybox-frame { max-width: 640px !important; max-height: 360px; }
}

@media (max-width: 640px) {
#fancybox-frame { max-width: 480px !important; max-height: 270px; }
}

@media (max-width: 480px) {
#fancybox-frame { max-width: 320px !important; max-height: 240px; }
}

@media (max-width: 320px) {
#fancybox-frame { max-width: 240px !important; max-height: 135px; }
}




/* Fancybox Arrows */
#fancybox-left-ico, 
#fancybox-right-ico { 
    background-image: none ! important; 
    }    
    #fancybox-left-ico:before,
    #fancybox-right-ico:before {
         font-family:FontAwesome;
         font-size:30px;font-size: 1.88rem;
         color: #FFFFFF;
         text-shadow: 0 2px 4px rgba(0,0,0,0.8);   
        }
        #fancybox-left-ico:before { content: "\f053"; }
        #fancybox-right-ico:before { content: "\f054"; }


/* Fancybox Arrows Animation */
#fancybox-left, #fancybox-right {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;   
    opacity: 0;
    }
    #fancybox-left  { margin-left: 10px;}
    #fancybox-right { margin-right: 10px;}

    #fancybox-left:hover,#fancybox-right:hover { 
        opacity: 1; 
        margin: 0px; 
        }



/* Button */
.btn { border-radius: 0px !important;  }
.btn-inverse { background: #333!important; }

/* Narrow content */    
@media (max-width: 1600px) {
.page-template-template-event-php .width-768 { 
    max-width: 768px!important;
    margin: -20px auto 0; 
    }
}
@media (min-width: 1601px) {
    .page-template-template-event-php .width-768 { margin: -30px auto 0; }
}


    
